.wrapper{
    width: 30%;
    background-color: black;
    display: flexbox;
    border-radius: 10px 10px 5px 5px;

    img{
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .conten{
        color: white;
        padding: 10px;
    }
}